body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
   
        background-image: url('https://img.freepik.com/premium-vector/seamless-background-theme-restaurant-menu_600765-9940.jpg');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        height: 100vh; 
        font-weight: 900;
        background-color: #d1b5009d;
    }


header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px 0;
}

#map {
    height: 300px;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    nav ul {
        display: block;
        text-align: left;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }
}
